body {
  font-weight: lighter;
  font-family: 'avenir', 'helvetica-neue', 'helvetica', sans-serif;
  font-size: 14px;
  background-color: white;
  color: black;
  margin: 0px;
}

#container {
	padding-top: 60px;
	/*overflow: auto;*/
}

#mainImage {
	width: 100%;
	height: auto;
	max-width: 2000px;
}

#imageDiv {
	text-align: center;
	position: relative;
}

#imageCover {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(177, 175, 174, 0.6);
	top: 0px;
	left: 0px;
	z-index: 1;
}

#imageTitle {
	position: absolute;
	top: 80px;
	left: 25%;
	font-size: 5vw;
	z-index: 2;
	font-weight: bold;
	color: white;
	text-align: center;
}

#titleBreak {
	width: 70%;
	background: white;
	height: 2px;
	margin:auto;
}
